
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/animate.css">
    <link rel="stylesheet" href="~/Assets/website/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/home.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/style.css" type="text/css">

</head>
<body>

    <section id="home-section" class="hero pt-5">
        <div class="container">
            <div class="row">
                <div class="col-3">
                  
                                       <div id="menu">
                                           <div class="menu-title">
                                               <i class="fa fa-bars"></i>
                                               <span>Danh mục sản phẩm</span>
                                           </div>
                                           <ul class="menu-drop">
                                               <li class="menu-item">
                                                   <a href="product1">Tất cả</a>
                                               </li>
                                               <li class="menu-item">
                                                   <a class="menu-arrow" href="typeproduct">Rau</a>
                                                   <ul class="sub-menu">
                                                       <li class="menu-item"><a href="#">Rau lá</a></li>
                                                       <li class="menu-item"><a href="#">Rau gia vị</a></li>
                                                       <li class="menu-item"><a href="#">Xà lách</a></li>
                                                   </ul>
                                               </li>
                                               <li class="menu-item">
                                                   <a class="" href="typeproduct">Củ</a>
                                                
                                               </li>
                                               <li class="menu-item">
                                                   <a class="menu-arrow" href="typeproduct">Quả</a>
                                                   <ul class="sub-menu">
                                                       <li class="menu-item"><a href="#">Trong nước</a></li>
                                                       <li class="menu-item"><a href="#">Ngoại nhập</a></li>
                                                      
                                                   </ul>
                                               </li>
                                           </ul>
                                       </div>
                       

                </div>
                <div class="col-9">
                    <div id="banner" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="~/images/bg-1.png">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/images/bg-2.png">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/images/bg-3.png">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/images/bg-4.png">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#banner" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#banner" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">

                    <h2 class="mb-4">Sản phẩm hot</h2>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/rau/xalach.png"
                                 alt="Colorlib Template">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Xà lách</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">18.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">
                                        
                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">
                                      
                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/thanhlong.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Thanh long</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>40.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/dua.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Dừa</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>20.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/oi.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Ổi</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>20.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <a href="#"
                                   class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                </a>
                                <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                </a>
                                <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/xoai.png"
                                 alt="Colorlib Template">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Xoài</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">15.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/cherry.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Cherry</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>32.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/rau/caiboxoi.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Cải bó xôi</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>18.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/quyt.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Quýt</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>$120.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">

                    <h2 class="mb-4">Ưu đãi</h2>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-1.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Ớt chuông</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-2.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Dâu</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-3.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Đậu cove</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-4.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Bắp cải tím</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-5.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Cà chua</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-6.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Bông cải xanh</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-7.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Cà rốt</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/product-8.jpg"
                                 alt="Colorlib Template">
                            <span class="status">50%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Fruit Juice</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="mr-2 price-dc">30.000 VND</span><span class="price-sale">15.000 VND</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">

                    <h2 class="mb-4">Sản phẩm mới</h2>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/rau/rauque.png"
                                 alt="Colorlib Template">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Rau quế</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">18.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/cam.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Cam</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>40.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/saurieng.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#"></a>Sầu riêng</h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>20.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/nho.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Nho</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>20.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/gac.png"
                                 alt="Colorlib Template">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Gấc</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">15.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/chanhday.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Chanh dây</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>32.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/buoi.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Bưởi</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>18.000 VND</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="~/images/qua/kiwi.png"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Kiwi</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>$120.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                    </a>
                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                    </a>
                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="~/Assets/bootstrap/js/jquery.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/website/js/main.js"></script>

</body>
</html>
