
@{
    ViewBag.Title = "newsdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta charset="UTF-8">
    <title>Cách chế biến những món ăn tươi ngon nhất từ rau củ quả</title>
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/news.css" type="text/css">
</head>
<body>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">
                        Cách chế biến những món ăn tươi ngon nhất từ rau củ
                        quả
                    </h2>
                    <p>
                        Cố gắng ăn ít nhất 5 phần trái cây và rau quả mỗi ngày.

                        Trái cây và rau nên chiếm khoảng 1/3 lượng chúng ta ăn mỗi ngày. Chúng là một phần rất quan trọng
                        của một chế độ ăn uống lành mạnh, cân bằng, vì chúng là nguồn cung cấp chất xơ dồi dào, cũng như có
                        nhiều vitamin và khoáng chất cần thiết.

                        Ăn nhiều trái cây và rau quả có thể giúp bạn duy trì cân nặng hợp lý vì chúng có ít calo và chất béo
                        tự nhiên (miễn là chúng không được nướng hoặc chiên trong nhiều bơ hoặc dầu), và bằng chứng cho thấy
                        bạn có thể làm giảm nguy cơ mắc bệnh tim, đột quỵ, một số loại ung thư và béo phì.

                        Các loại và màu sắc khác nhau của trái cây và rau quả có chứa sự kết hợp khác nhau của các chất dinh
                        dưỡng quan trọng, như chất xơ và vitamin, những thứ mà cơ thể chúng ta cần để duy trì sức khỏe. Vì
                        vậy, để tận dụng tối đa lợi ích dinh dưỡng trong , hãy cố gắng ăn nhiều loại trái cây và rau quả
                        thuộc từng nhóm màu - xanh lá cây, vàng, đỏ, tím, cam và trắng.
                    </p>
                    <p>
                        <img src="/images/news/image_1.jpg" alt="" class="img-fluid">
                    </p>
                    <p>
                        Trái cây và rau quả là nguồn cung cấp vitamin và khoáng chất dồi dào, bao gồm folate, vitamin C và
                        kali.

                        Chúng là nguồn cung cấp chất xơ tuyệt vời, có thể giúp duy trì đường ruột khỏe mạnh và ngăn ngừa táo
                        bón cũng như các vấn đề tiêu hóa khác. Chế độ ăn giàu chất xơ cũng có thể làm giảm nguy cơ ung thư
                        ruột.

                        Chúng có thể giúp giảm nguy cơ mắc bệnh tim, đột quỵ và một số loại ung thư.

                        Trái cây và rau quả góp phần tạo nên một chế độ ăn uống cân bằng và lành mạnh.

                        Trái cây và rau có vị thơm ngon và có rất nhiều loại để lựa chọn.

                        Trái cây và rau quả cũng thường ít chất béo và calo (miễn là bạn không chiên hoặc nướng chúng với
                        nhiều dầu). Đó là lý do tại sao ăn chúng có thể giúp bạn duy trì cân nặng hợp lý và giữ cho trái tim
                        khỏe mạnh.

                        Để tận dụng tối đa phần ăn của bạn nên bao gồm nhiều loại trái cây và rau quả. Điều này là do các
                        loại trái cây và rau quả khác nhau có chứa sự kết hợp khác nhau của chất xơ, vitamin, khoáng chất và
                        các chất dinh dưỡng khác.
                    </p>

                    <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Chế biến</a>
                            <a href="#" class="tag-cloud-link">Giá cả</a>
                            <a href="#" class="tag-cloud-link">Dinh dưỡng</a>
                            <a href="#" class="tag-cloud-link">Ưu đãi</a>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4  ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon ion-ios-search"></span>
                                <input type="text" class="form-control" placeholder="Bạn muốn tìm gì...">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Hãy ghé thăm cửa hàng của chúng tôi</h3>
                        <ul class="categories">
                            <li><a href="#">Rau <span>(12)</span></a></li>
                            <li><a href="#">Củ <span>(22)</span></a></li>
                            <li><a href="#">Quả <span>(37)</span></a></li>
                            <li><a href="#">Ưu đãi <span>(42)</span></a></li>
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Tin tức mới</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/news/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading-1">
                                    <a href="#">Cách chế biến những món ăn ngon nhất từ rau củ quả</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span>10/11/2022</a></div>

                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/news/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Các thực phẩm tốt cho sức khỏe tim mạch</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> 10/11/2022</a></div>

                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(images/news/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Cách chế biến những món chay cho trẻ nhỏ</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> 10/11/2022</a></div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Từ khóa được tìm kiếm nhiều</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Bông cải</a>
                            <a href="#" class="tag-cloud-link">Cà chua</a>
                            <a href="#" class="tag-cloud-link">Xoài</a>
                            <a href="#" class="tag-cloud-link">Táo</a>
                            <a href="#" class="tag-cloud-link">Cà rốt</a>
                            <a href="#" class="tag-cloud-link">Cam</a>
                            <a href="#" class="tag-cloud-link">Rau muống</a>
                            <a href="#" class="tag-cloud-link">Rau dền</a>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">TAP ORGANIC</h3>
                        <p>Chúng tôi luôn cung cấp thực phẩm sạch và đem đến những trải nghiệm tốt nhất cho khách hàng</p>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->
    <script src="~/Assets/bootstrap/js/jquery.min.js"></script>
    <script src="~/Assets/website/js/main.js"></script>
</body>

</html>


