
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="~/Content/bootstrap.css" />
    <style>
        .table {
            width: 110%;
            height: 300px;
            margin-top: 60px;
        }
    </style>
</head>
<h2>Chào mừng đến trang quản trị</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Admin</th>
            <th scope="col">MSSV</th>
            <th scope="col">Lớp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Vưu Trường Nhật Thanh</td>
            <td>20130404</td>
            <td>DH20DTC</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Ka Ân Thiên Phúc</td>
            <td>20130096</td>
            <td>DH20DTB</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Đặng Vũ Hưng</td>
            <td>20130271</td>
            <td>DH20DTB</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Cao Nhật Nam</td>
            <td>20130325</td>
            <td>DH20DTA</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Lê Thanh Hoài</td>
            <td>15130062</td>
            <td>DH15DTA</td>
        </tr>

    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />